<style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: flex;
	list-style: none;
	margin: 10px 0 0 0;
	flex-wrap:wrap;
	align-items:flex-end;
	color: #dcddde;
}
.form-style-1 label{
	margin:6px 0 0 20px;
	padding:0px;
	display:inline-block;
	font-weight: bold;
	width:160px;
	flex-grow: 0;
	text-align: left;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
	width:162px;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-header{
	width: 100%;
	font-size: 160%;
	text-align: center;
	color: #0A84FF;
}
.form-style-1 .field-submit{
	justify-content: center;
	margin:20px 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
	width: 20%;
	font-size: 200%;
	min-width: 120px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
.form-style-1 input[type=checkbox] {
	display: none;
}
.form-style-1 input[type=checkbox]+label {
	width: 150px;
	text-align: center;
	display: inline;
	background-color: #aaa;
	padding: 3px 6px;
	border: 1px solid gray;
	color: #444;
	user-select: none; 
}
.form-style-1 input[type=checkbox]:checked+label {
	color: yellow;
	background-color: #444;
}
.form-style-1 input[type=checkbox]:hover+label {
	background-color: #999;
}
#result_table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#result_table td, #result_table th {
	border: 1px solid #444;
	padding: 8px;
}

#result_table tr:nth-child(even){background-color: #aaa;}
#result_table tr:nth-child(odd){background-color: #888;}

#result_table tr:hover {background-color: #ddd;}

#result_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}
</style>